p,
li {
	text-align: justify;
	padding-bottom: 2%;
}

.App-Header {
	text-align: center;
}

.App-Footer {
	padding: 5%;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.App-CardGroup * {
	margin-top: 2%;
	margin-bottom: 2%;
}
